body{
    margin: 0;
    padding: 0;
}
html, body, #root, #main, #navigation, #home, img{
    height: 100%;
    box-sizing: border-box;
}
#header{
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    border-bottom: 1px solid;
    border-color: lightgray;
    z-index: 9999;
    background-color: white;
}
#navigation{
    position: fixed;
    width: 300px;
    padding-top: 64px;
    border-right: 1px solid;
    border-color: lightgray;
}
#main{
    /* height: 100%; */
    height: 3000px;
    width: 100%;
    padding-top: 64px;
    padding-left: 300px;
}
img{
    align-self: center;
    margin-right: 20px;
}
strong{
    align-self: center;
}

.content{
    padding: 10px;
}